body {
    background-color: #fbe6e9;
}

img {
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%
    /* height: 300px; */
}
h1 {
    text-align: center;
    color: #8F001B;
    text-decoration-line:underline; 
    text-decoration-color: black;

}

a { 
    display: block;
    padding: 10px;
    color: #8F001B;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: #8F001B;
    text-decoration-line: underline;
    text-decoration-color: black;
}

h3 {
    text-align: center;
    color: #8F001B;
    text-decoration-line: underline;
    text-decoration-color: #8F001B;
}

h4 {
    text-align: center;
    color: #8F001B;
    text-decoration-line: underline;
    text-decoration-line: underline;
    text-decoration-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    /* float: left;     */
    padding: 5px 0px;
}

nav li a {
    display: block;
    color: pink;
    background-color: black;
    text-align: center;
    padding: auto;
    text-decoration: underline;
}

/* changed the color to when user hovers */
li a:hover {
    background-color: white;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#horiseon {
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#ballons {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#watercolor {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#macrons {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#workplace {
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#code  {
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#desk {
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fadein img{
    opacity: 0.5;
    transition: 5s ease;
    animation: ben 10s infinite;
}

@keyframes ben{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: 75vw;
    }
}

.fadein img:hover {
    opacity: 1;
    filter: grayscale(100);
    transition: 5s ease;
}

figcaption {
    display: table-row;
    caption-side: top;
}

section a img:hover {
    width: 75vw;
}